<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.playgroundideas.playgroundideas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".di.PlaygroundApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PlaygroundTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".designs.DesignDetailsActivity"/>

        <activity
            android:name=".projects.CreateProjectActivity"
            android:label="@string/new_project"/>
        <activity android:name=".projects.DetailProjectActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.playgroundideas.playgroundideas.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.playgroundideas.playgroundideas.datasource.StubProvider"
            android:authorities="com.playgroundideas.playgroundideas.authentication.provider"
            android:exported="false"
            android:syncable="true"/>

    </application>

    <service
        android:name="com.playgroundideas.playgroundideas.authentication..AuthenticatorService">
        <intent-filter>
            <action android:name="android.accounts.AccountAuthenticator"/>
        </intent-filter>
        <meta-data
            android:name="android.accounts.AccountAuthenticator"
            android:resource="@xml/authenticator" />
    </service>

</manifest>